name: QA

on:
  push:
    branches: "*"
  pull_request:
    branches: "*"
  schedule:
    - cron: '0 0 * * *'

jobs:
  qa:
    runs-on: ubuntu-latest
    container:
      image: crystallang/crystal:1.14.0
    steps:
      - uses: actions/checkout@v1
      - name: Install shards
        run: shards install --ignore-crystal-version
      - name: Run QA checks
        run: make qa
